* {
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
  }
  
  header {
    display: flex;
    justify-content: center;
    height: 68px;
    background-color: rgb(204, 119, 247);
    box-shadow: 10px 8px 15px black;
  }
  
  header a {
    font-size: 40px;
    font-weight: 800;
  }
  
  .contentBox {
    height: 722px;
    width: 98vw;
    border-radius: 10px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
    box-shadow: 10px 10px 15px black;
    margin: 10px;
    margin-right: 10px;
  }
  
  .contentBoxHeading {
    font-size: 31px;
    font-family: fantasy;
  }
  
  footer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 643px;
    background-color: rgb(124, 139, 239);
    height: 100px;
  }
  
  footer a img {
    height: 52px;
    width: 52px;
    border-radius: 10px;
    position: relative;
    bottom: -28px;
    margin-right: 25px;
  }
  
  .disclaimer {
    background-color: rgb(124, 139, 239);
    position: relative;
    top: 643px;
    display: flex;
    justify-content: center;
  }
  